<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dgarcoe.maskchecker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mask_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mask_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckList2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotFFP2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IsFFP2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckOtherStandardsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirstCheckActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".FalseFFP2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>